<div class="w-full md:h-16 h-28 shadow-lg bg-white">
    <div class="w-full h-16 flex justify-center items-center">
        <div class="md:w-1/6 w-1/2 flex justify-start">
            <a class="normal-case font-bold md:text-2xl sm:text-base ml-4" href="/">
                锅烧FM
            </a>
        </div>

        <div class="w-4/6 md:flex hidden justify-center">
            <div class="form-control w-full max-w-2xl shadow-none">
                {{if eq "" .searchKeyword}}
                <input id="searchInput" type="text" placeholder="输入关键词搜索" class="input input-bordered" />
                {{else}}
                <input id="searchInput" type="text" placeholder="{{.searchKeyword}}" class="input input-bordered" />
                {{end}}
            </div>
            <button id="homeSearchBtn" class="btn btn-primary">搜索</button>
        </div>

        <div class="md:w-1/6 w-1/2 flex justify-end">
            <div class="dropdown dropdown-end">
                <label tabindex="0" class="avatar md:mr-8 mr-4 hover:cursor-pointer">
                    <div id="header-avatar"
                        class="w-6 rounded-full ring ring-primary ring-offset-base-100 ring-offset-2">
                        <img src="/resource/image/user-fill.png" />
                    </div>
                </label>
                <ul tabindex="0" class="dropdown-content menu p-2 shadow bg-base-100 rounded-box w-52">
                    <li><a>Item 1</a></li>
                    <li><a>Item 2</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="w-full md:hidden flex justify-center pl-4 pr-4">
        <div class="form-control w-full max-w-2xl shadow-none">
            {{if eq "" .searchKeyword}}
            <input id="searchInputBottom" type="text" placeholder="输入关键词搜索" class="input input-sm input-bordered" />
            {{else}}
            <input id="searchInputBottom" type="text" placeholder="{{.searchKeyword}}"
                class="input input-sm input-bordered" />
            {{end}}
        </div>
        <button id="homeSearchBtnBottom" class="btn btn-primary btn-sm">搜索</button>
    </div>
</div>
