<div class="w-full h-16 flex justify-center items-center">
    <div class="w-1/6 flex justify-start">
        <a class="normal-case font-bold md:text-2xl sm:text-base ml-4" href="/">
            锅烧FM
        </a>
    </div>

    <div class="w-4/6 flex justify-center ">
        <div class="form-control w-full max-w-2xl">
            <input id="searchInput" type="text" placeholder="{{.searchKeyword}}" class="input input-bordered" />
        </div>
        <button id="homeSearchBtn" class="btn btn-primary">搜索</button>
    </div>

    <div class="w-1/6">

    </div>
</div>
