<div class="w-full flex justify-center">
    <div class="w-full">
        {{range $index, $item := .listen_later_item_list}}
        <div class="card w-full max-w-2xl bg-base-100 shadow-xl mt-6">
            <div class="card-body">
                <a href="/feed/{{$item.ChannelId}}/item/{{$item.Id}}">
                    <h2 class="card-title gap-0 overflow-x-scroll inline">{{$item.Title}}</h2>
                </a>
                <div class="flex mt-3">
                    <a href="/feed/channel/{{$item.ChannelId}}">
                        <div class="avatar">
                            <div class="w-20 rounded">
                                {{if $item.HasThumbnail}}
                                <img src="{{$item.ChannelImageUrl}}" />
                                {{else}}
                                <img src="/resource/image/logo192.png" />
                                {{end}}
                            </div>
                        </div>
                        <div class="ml-3">
                            <a href="/feed/channel/{{$item.ChannelId}}">
                                <div class="text-lg font-medium">{{$item.ChannelTitle}}</div>
                            </a>
                            <div class="text-sm font-medium text-gray-500 mt-2">{{$item.Author}}</div>
                            <div class="flex justify-start text-gray-500 text-sm mt-2">{{$item.RegDate}}</div>
                        </div>
                    </a>
                </div>
                <a href="/feed/{{$item.ChannelId}}/item/{{$item.Id}}">
                    <div class="max-h-24 flex overflow-clip">
                        <p>{{$item.TextDescription}}</p>
                    </div>
                </a>
                <div class="text-gray-500">{{$item.PubDate}}</div>
                <div class="card-actions flex items-center">
                    <button id="list-item-btn-{{$item.Id}}" class="btn btn-circle btn-sm border-none"
                        onclick="playOrPause(event,'{{$item.Id}}', '{{$item.EnclosureUrl}}', '{{$item.EnclosureType}}', '{{$item.Title}}', '{{$item.ChannelTitle}}', '{{$item.ChannelId}}', '{{$item.ChannelImageUrl}}')">
                        <span id="list-item-play-svg-{{$item.Id}}">
                            <svg t="1681315725035" class="w-4 h-4" viewBox="0 0 1024 1024" version="1.1"
                                xmlns="http://www.w3.org/2000/svg" p-id="9542" width="32" height="32">
                                <path
                                    d="M130.844444 69.859556v884.963555a56.888889 56.888889 0 0 0 87.608889 47.957333l690.915556-442.538666a56.888889 56.888889 0 0 0 0-95.800889L218.396444 21.959111A56.888889 56.888889 0 0 0 130.844444 69.859556z"
                                    fill="#FFFFFF" p-id="9543"></path>
                            </svg>
                        </span>
                        <span id="list-item-pause-svg-{{$item.Id}}" class="hidden">
                            <svg t="1681315796396" class="w-6 h-6" viewBox="0 0 1024 1024" version="1.1"
                                xmlns="http://www.w3.org/2000/svg" p-id="10573" width="48" height="48">
                                <path
                                    d="M352 768c-17.664 0-32-14.304-32-32L320 288c0-17.664 14.336-32 32-32s32 14.336 32 32l0 448C384 753.696 369.664 768 352 768z"
                                    fill="#ffffff" p-id="10574"></path>
                                <path
                                    d="M672 768c-17.696 0-32-14.304-32-32L640 288c0-17.664 14.304-32 32-32s32 14.336 32 32l0 448C704 753.696 689.696 768 672 768z"
                                    fill="#ffffff" p-id="10575"></path>
                            </svg>
                        </span>
                    </button>
                    <div class="text-base text-gray-500 w-20">{{$item.Duration}}</div>
                </div>
            </div>
        </div>
        {{end}}
    </div>
</div>
