<!DOCTYPE html>
<html lang="en" data-theme="lofi">

<head>
    <title>{{.searchKeyword}} - {{.appname}}</title>
    {{include "module/common_header_link.html" .}}
</head>

<body style="margin: 0; display:inherit;" class="bg-gray-100">
    {{include "module/header.html" .}}
    {{include "module/alert.html" .}}
    <div class="flex justify-center mt-4 min-h-screen">
        <div class="w-full ml-6 mr-6 mb-6 max-w-2xl bg-white min-h-screen">
            <div class="w-full max-2w-xl">
                <div class="flex justify-start w-full max-w-xl mr-6 ml-6 mt-6">
                    <div class="avatar w-20 h-20 md:w-24 md:h-24">
                        <div class="w-20 h-20 md:w-24 md:h-24 rounded-full ring ring-primary ring-offset-base-100 ring-offset-2">
                            <img id="avatar_elem" src="/resource/image/user-fill.png" />
                        </div>
                    </div>
                    <div class="ml-6">
                        <div id="nickname_elem" class="text-lg">
                            {{.nickname}}:<span id="nickname_span"></span>
                        </div>
                        <div id="account_elem" class="mt-1 text-gray-500">
                            {{.account}}:<span id="account_span"></span>
                        </div>
                        <div id="reg_date_elem" class="mt-1 text-gray-500">
                            {{.reg_date}}:<span id="reg_date_span"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{include "module/footer.html" .}}
</body>

<script>
    $(function () {
        let userInfo = getUserInfo()
        if (userInfo === undefined || userInfo === null) {
            ShowToLoginAlert()
        } else {
            let account = ""
            if (userInfo["phone"] === "") {
                account = userInfo["email"]
            } else {
                account = userInfo["phone"]
            }
            let nickname = userInfo["nickname"]
            let regDate = userInfo["regDate"]
            let nicknameSpan = $("#nickname_span")
            let accountSpan = $("#account_span")
            let regDateSpan = $("#reg_date_span")
            let avatarelem = $("#avatar_span")
            nicknameSpan.text(nickname)
            accountSpan.text(account)
            regDateSpan.text(formatDate(regDate))
        }
    })

    function formatDate(dateStr) {
        let objectDate = new Date(dateStr);
        let day = objectDate.getDate();
        let month = objectDate.getMonth();
        let year = objectDate.getFullYear();
        if (day < 10) {
            day = '0' + day;
        }
        if (month < 10) {
            month = `0${month}`;
        }
        let formatedDate = year + "-" + month + "-" + day;
        console.log(formatedDate);
        return formatedDate
    }

</script>

</html>
