<!DOCTYPE html>
<html lang="en" data-theme="lofi">

<head>
    <title>{{.appname}}</title>
    {{include "module/common_header_link.html" .}}
</head>

<body style="margin: 0; display:inherit;">
    <!-- nav header -->
    <div class="w-full h-16 flex justify-center items-center">
        <div class="w-1/6 flex justify-start">
            <!-- <a class="normal-case font-bold md:text-2xl sm:text-base ml-4" href="/"> -->
            <!--     锅烧FM -->
            <!-- </a> -->
        </div>

        <div class="w-4/6 flex justify-center ">
        </div>

        <div class="w-1/6 flex justify-end">
            <div class="dropdown dropdown-end">
                <label tabindex="0" class="avatar md:mr-8 mr-4 hover:cursor-pointer">
                    <div id="header-avatar"
                        class="w-6 rounded-full ring ring-primary ring-offset-base-100 ring-offset-2">
                        <img src="/resource/image/user-fill.png" />
                    </div>
                </label>
                <ul id="login" tabindex="0" class="dropdown-content menu p-2 shadow bg-base-100 rounded-box w-52">
                    <li class="" onclick="logout()">
                        <a class="w-full flex justify-start" href="/login">
                            <img class="w-6" src="/resource/image/login.png" alt="">{{.login_tag}}
                        </a>
                    </li>
                </ul>
                <ul id="logined" tabindex="0" class="dropdown-content menu p-2 shadow bg-base-100 rounded-box w-52">
                    <div class="w-full p-3">
                        <div id="header_nickname_text">__</div>
                        <div id="header_account_text" class="mt-4 text-gray-500">__</div>
                    </div>
                    <li class="h-12 border-t border-gray-200">
                        <a id="header_account_info_a_tag" class="w-full flex justify-start">
                            <img class="w-6" src="/resource/image/account.png" alt="">{{.my_account_tag}}
                        </a>
                    </li>
                    <li class="h-12 border-t border-gray-200">
                        <a id="header_listen_later_playlist_tag" class="w-full flex justify-start">
                            <img class="w-6" src="/resource/image/list.png" alt="">{{.listen_later_header_tag}}
                        </a>
                    </li>
                    <li class="h-12 border-t border-gray-200">
                        <a id="header_user_sub_list_tag" class="w-full flex justify-start">
                            <img class="w-6" src="/resource/image/subscriptions.png" alt="">{{.user_sub_list}}
                        </a>
                    </li>
                    <li class="border-t border-gray-200" onclick="logout()">
                        <a class="w-full flex justify-start">
                            <img class="w-6" src="/resource/image/log-out.png" alt="">{{.logout_tag}}
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <!-- content -->
    <div class="flex justify-center min-h-screen">
        <div class="w-full ml-6 mr-6 mt-6">
            <div class="flex justify-center text-3xl">
                锅烧 FM
            </div>
            <div class="flex justify-center text-base text-gray-500 mt-5">
                播客搜索引擎
            </div>
            <div class="flex justify-center mt-20">
                <div class="form-control w-full max-w-2xl">
                    <input id="searchInput" type="text" placeholder="{{.search_cn_feed_item_channel_total_with_count}}"
                        class="input input-bordered" />
                </div>
                <button id="homeSearchBtn" class="btn btn-primary ml-1">搜索</button>
            </div>
        </div>
    </div>
    {{include "module/footer.html" .}}

</body>

<script>
    $(function () {
        let userInfo = getUserInfo()
        let loginDiv = $("#login")
        let loginedDiv = $("#logined")
        if (userInfo === undefined || userInfo === null) {
            loginDiv.show()
            loginedDiv.hide()
        } else {
            loginDiv.hide()
            loginedDiv.show()
            let account = ""
            if (userInfo["phone"] === "") {
                account = userInfo["email"]
            } else {
                account = userInfo["phone"]
            }
            SetHeaderUserInfo(userInfo["id"], userInfo["nickname"], account)
        }
    })

    function logout() {
        cleanUserInfo()
        window.location.href = '/'
    }

    function SetHeaderUserInfo(userId, nickname, account) {
        let nicknameElem = $("#header_nickname_text")
        let accountElem = $("#header_account_text")
        let accountATagElem = $("#header_account_info_a_tag")
        let listenLaterTag = $("#header_listen_later_playlist_tag")
        let userSubList = $("#header_user_sub_list_tag")
        nicknameElem.text(nickname)
        accountElem.text("@" + account)
        listenLaterTag.attr("href", "/listenlater/playlist/" + userId)
        accountATagElem.attr("href", "/user/info/" + userId)
        userSubList.attr("href", "/user/sub/list/" + userId + "/1")
    }
</script>

</html>