<!DOCTYPE html>
<html lang="en" data-theme="lofi">

<head>
    <title>锅烧FM</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="/resource/image/favicon.ico">
    <link href="https://cdn.jsdelivr.net/npm/daisyui@2.6.0/dist/full.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="/resource/js/search.js"></script>
    <script src="/resource/js/common.js"></script>
</head>

<body style="margin: 0; display:inherit;">
    <!-- nav header -->
    <div class="w-full h-16 flex justify-center items-center">
        <div class="w-1/6 flex justify-start">
            <!-- <a class="normal-case font-bold md:text-2xl sm:text-base ml-4" href="/"> -->
            <!--     锅烧FM -->
            <!-- </a> -->
        </div>

        <div class="w-4/6 flex justify-center ">
        </div>

        <div class="w-1/6 flex justify-end">
            <a href="">
                <div id="header-avatar" class="avatar mr-4">
                    <div class="w-8 rounded-full ring ring-primary ring-offset-base-100 ring-offset-2">
                        <img src="/resource/image/user-fill.png" />
                    </div>
                </div>
            </a>
        </div>
    </div>

    <!-- content -->
    <div class="flex justify-center min-h-screen">
        <div class="w-full ml-6 mr-6 mt-6">
            <div class="flex justify-center text-3xl">
                锅烧 FM
            </div>
            <div class="flex justify-center text-base text-gray-500 mt-5">
                播客搜索引擎
            </div>
            <div class="flex justify-center mt-20">
                <div class="form-control w-full max-w-2xl">
                    <input id="searchInput" type="text" placeholder="输入关键词" class="input input-bordered" />
                </div>
                <button id="homeSearchBtn" class="btn btn-primary">搜索</button>
            </div>
        </div>
    </div>
    {{include "module/footer.html" .}}

</body>

<script>
    $(function () {
        let userInfo = getUserInfo()
        if (userInfo === undefined || userInfo === null) {
            let headerAvatar = $("#header-avatar")
            // headerAvatar.hide()
        }
    })
</script>

</html>
