<!DOCTYPE html>
<html lang="en" data-theme="lofi">

<head>
    <title>{{.appname}}-{{.nickname}}@{{.}}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="/resource/image/favicon.ico">
    <link href="https://cdn.jsdelivr.net/npm/daisyui@2.6.0/dist/full.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="/resource/js/common.js"></script>
    <script src="/resource/js/header.js"></script>
    <script src="/resource/js/search.js"></script>
    <script src="/resource/js/listen_later.js"></script>
    <script src="/resource/js/audio_player.js"></script>
</head>

<body style="margin: 0; display:inherit;" class="bg-gray-100">
    <!-- nav header -->
    {{include "module/header.html" .}}
    <div class="flex justify-center min-h-screen">
        <div class="w-full pl-6 pr-6 max-w-2xl">
            <div class="w-full mb-10 mt-6">
            </div>
            <div class="w-full mt-3 flex justify-center">
                {{include "module/listen_later_item_list.html" .}}
            </div>
        </div>
    </div>

    <div class="mb-32">
        {{include "module/bottom_audio_player.html" .}}
    </div>

    <footer class="footer items-center p-4 bg-neutral text-neutral-content">
        <div class="items-center grid-flow-col">
            <p>Copyright © 2023 - All right reserved</p>
        </div>
        <div class="grid-flow-col gap-4 md:place-self-center md:justify-self-end">
        </div>
    </footer>
</body>

</html>