<!DOCTYPE html>
<html lang="en" data-theme="lofi">

<head>
    <title>{{.searchKeyword}} - 锅烧FM</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="/resource/image/favicon.ico">
    <link href="https://cdn.jsdelivr.net/npm/daisyui@2.6.0/dist/full.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
</head>

<body style="margin: 0; display:inherit;">

    <div class="flex justify-center">
        <div class="w-full ml-6 mr-6">
            <div class="flex justify-center mb-10 mt-6">
                <div class="form-control w-full max-w-2xl">
                    <input id="searchInput" type="text" placeholder="{{.searchKeyword}}" class="input input-bordered" />
                </div>
                <button id="homeSearchBtn" class="btn btn-primary">搜索</button>
            </div>
            <!-- feed channel item list -->
            {{include "module/list_item.html" .}}
            <div class="flex justify-center mt-6">
                <div class="btn-group">
                    <button class="btn" id="prePageBtn">«</button>
                    <button class="btn">第{{.currentPage}}页</button>
                    <button class="btn" id="nextPageBtn">»</button>
                </div>
            </div>
        </div>
    </div>
</body>
<script>
    $(function () {
        let currentPage = parseInt('{{.currentPage}}')
        let totalPage = parseInt('{{.totalPage}}')
        let nextPage = currentPage + 1
        let prePage = currentPage - 1
        let keyword = '{{.searchKeyword}}'
        $('#nextPageBtn').click(function (event) {
            if (currentPage >= totalPage) {
                return
            }
            window.location.href = "/search?q=" + keyword + "&page=" + nextPage;
        });
        $('#prePageBtn').click(function (event) {
            if (currentPage == 1) {
                return
            }
            window.location.href = "/search?q=" + keyword + "&page=" + prePage;
        });

        let searchBtn = $("#homeSearchBtn");
        let searchClearBtn = $("#searchClearBtn");
        let searchInput = $("#searchInput");
        searchInput.keypress(function (event) {
            var keycode = (event.keyCode ? event.keyCode : event.which);
            if (keycode == '13') {
                let keyword = $(this).val()
                window.location.href = "/search?q=" + keyword + "&page=1";
            }
            event.stopPropagation();
        });
        searchBtn.click(function () {
            let keyword = searchInput.val()
            if (keyword === "") {
                return
            }
            window.location.href = "/search?q=" + keyword + "&page=1";
        });
    });
</script>

</html>