<!DOCTYPE html>
<html lang="en" data-theme="lofi">

<head>
    <title>{{.user_sub_keyword_page_name}}</title>
    {{include "module/common_header_link.html" .}}
</head>

<body style="margin: 0; display:inherit;" class="bg-gray-100">
    <div class="w-full h-16 flex justify-center items-center shadow-lg drop-shadow-lg bg-white">
        <div class="w-2/6 flex justify-start">
            <a class="normal-case font-bold md:text-2xl sm:text-base ml-4" href="/">
                {{.appname}}
            </a>
        </div>

        <div class="w-2/6 flex justify-center ">
        </div>

        <div class="w-2/6">

        </div>
    </div>
    {{include "module/alert.html" .}}

    <div class="flex justify-center mt-4 min-h-screen">
        <div class="flex justify-center">
            {{include "module/sub_keyword_item_list.html" .}}
        </div>
    </div>

    {{include "module/footer.html" .}}
</body>